<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions should be declared directly under <manifest> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- <queries> should be under <manifest>, not inside <application> -->
<queries>
    <intent>
        <action android:name="android.intent.action.PROCESS_TEXT"/>
        <data android:mimeType="text/plain"/>
    </intent>

    <intent>
        <action android:name="android.speech.RecognitionService" />
    </intent>

    <intent>
        <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>

    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="https" />
    </intent>
</queries>

    <application
        android:label="pim"
        android:name="${applicationName}"
        android:icon="@mipmap/logo">

        <!-- Service and Receiver should be inside the <application> tag -->
        <service android:name="me.carda.awesome_notifications.notifications.services.NotificationService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"/>
        <receiver android:name="me.carda.awesome_notifications.notifications.services.NotificationReceiver"
                  android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>
</manifest>
